In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score
df=pd.read_csv('C:\\Users\\Awadhesh\\dataset1\\loan-prediction.csv')

In [2]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,NaN,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,NaN,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 43.2+ KB

In [4]:
df.fillna(method='ffill',inplace = True)

In [5]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban,Y
11,LP001027,Male,Yes,2,Graduate,No,2500,1840.0,109.0,360.0,1.0,Urban,Y
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban,Y
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural,N
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban,Y
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban,Y
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,1.0,Urban,Y
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban,N
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural,N
19,LP001041,Male,Yes,0,Graduate,No,2600,3500.0,115.0,360.0,1.0,Urban,Y
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban,Y
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban,N
23,LP001050,Male,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
24,LP001052,Male,Yes,1,Graduate,No,3717,2925.0,151.0,360.0,0.0,Semiurban,N
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban,Y
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban,Y
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban,Y
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban,N
29,LP001087,Female,No,2,Graduate,No,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,Male,Yes,1,Graduate,No,2787,1917.0,146.0,360.0,0.0,Rural,N
585,LP002912,Male,Yes,1,Graduate,No,4283,3000.0,172.0,84.0,1.0,Rural,N
586,LP002916,Male,Yes,0,Graduate,No,2297,1522.0,104.0,360.0,1.0,Urban,Y
587,LP002917,Female,No,0,Not Graduate,No,2165,0.0,70.0,360.0,1.0,Semiurban,Y
588,LP002925,Female,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
589,LP002926,Male,Yes,2,Graduate,Yes,2726,0.0,106.0,360.0,0.0,Semiurban,N
590,LP002928,Male,Yes,0,Graduate,No,3000,3416.0,56.0,180.0,1.0,Semiurban,Y
591,LP002931,Male,Yes,2,Graduate,Yes,6000,0.0,205.0,240.0,1.0,Semiurban,N
592,LP002933,Male,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y
593,LP002936,Male,Yes,0,Graduate,No,3859,3300.0,142.0,180.0,1.0,Rural,Y
594,LP002938,Male,Yes,0,Graduate,Yes,16120,0.0,260.0,360.0,1.0,Urban,Y
595,LP002940,Male,No,0,Not Graduate,No,3833,0.0,110.0,360.0,1.0,Rural,Y
596,LP002941,Male,Yes,2,Not Graduate,Yes,6383,1000.0,187.0,360.0,1.0,Rural,N
597,LP002943,Male,No,2,Graduate,No,2987,0.0,88.0,360.0,0.0,Semiurban,N
598,LP002945,Male,Yes,0,Graduate,Yes,9963,0.0,180.0,360.0,1.0,Rural,Y
599,LP002948,Male,Yes,2,Graduate,No,5780,0.0,192.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,No,416,41667.0,350.0,180.0,1.0,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,No,2894,2792.0,155.0,360.0,1.0,Rural,Y
602,LP002953,Male,Yes,3+,Graduate,No,5703,0.0,128.0,360.0,1.0,Urban,Y
603,LP002958,Male,No,0,Graduate,No,3676,4301.0,172.0,360.0,1.0,Rural,Y
604,LP002959,Female,Yes,1,Graduate,No,12000,0.0,496.0,360.0,1.0,Semiurban,Y
605,LP002960,Male,Yes,0,Not Graduate,No,2400,3800.0,496.0,180.0,1.0,Urban,N
606,LP002961,Male,Yes,1,Graduate,No,3400,2500.0,173.0,360.0,1.0,Semiurban,Y
607,LP002964,Male,Yes,2,Not Graduate,No,3987,1411.0,157.0,360.0,1.0,Rural,Y
608,LP002974,Male,Yes,0,Graduate,No,3232,1950.0,108.0,360.0,1.0,Rural,Y
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [21]:
label_calls=['Married','Gender','Education','Self_Employed','Property_Area']
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
df[label_calls] = df[label_calls].apply(lambda x : label.fit_transform(x))

In [22]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,147.381729,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y
5,LP001011,1,1,2,0,1,5417,4196.0,267.000000,360.0,1.0,2,Y
6,LP001013,1,1,0,1,0,2333,1516.0,95.000000,360.0,1.0,2,Y
7,LP001014,1,1,3,0,0,3036,2504.0,158.000000,360.0,0.0,1,N
8,LP001018,1,1,2,0,0,4006,1526.0,168.000000,360.0,1.0,2,Y
9,LP001020,1,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,1,N
10,LP001024,1,1,2,0,0,3200,700.0,70.000000,360.0,1.0,2,Y
11,LP001027,1,1,2,0,0,2500,1840.0,109.000000,360.0,1.0,2,Y
12,LP001028,1,1,2,0,0,3073,8106.0,200.000000,360.0,1.0,2,Y
13,LP001029,1,0,0,0,0,1853,2840.0,114.000000,360.0,1.0,0,N
14,LP001030,1,1,2,0,0,1299,1086.0,17.000000,120.0,1.0,2,Y
15,LP001032,1,0,0,0,0,4950,0.0,125.000000,360.0,1.0,2,Y
16,LP001034,1,0,1,1,0,3596,0.0,100.000000,240.0,1.0,2,Y
17,LP001036,0,0,0,0,0,3510,0.0,76.000000,360.0,0.0,2,N
18,LP001038,1,1,0,1,0,4887,0.0,133.000000,360.0,1.0,0,N
19,LP001041,1,1,0,0,0,2600,3500.0,115.000000,360.0,1.0,2,Y
20,LP001043,1,1,0,1,0,7660,0.0,104.000000,360.0,0.0,2,N
21,LP001046,1,1,1,0,0,5955,5625.0,315.000000,360.0,1.0,2,Y
22,LP001047,1,1,0,1,0,2600,1911.0,116.000000,360.0,0.0,1,N
23,LP001050,1,1,2,1,0,3365,1917.0,112.000000,360.0,0.0,0,N
24,LP001052,1,1,1,0,0,3717,2925.0,151.000000,360.0,0.0,1,N
25,LP001066,1,1,0,0,1,9560,0.0,191.000000,360.0,1.0,1,Y
26,LP001068,1,1,0,0,0,2799,2253.0,122.000000,360.0,1.0,1,Y
27,LP001073,1,1,2,1,0,4226,1040.0,110.000000,360.0,1.0,2,Y
28,LP001086,1,0,0,1,0,1442,0.0,35.000000,360.0,1.0,2,N
29,LP001087,0,0,2,0,0,3750,2083.0,120.000000,360.0,1.0,1,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,1,1,1,0,0,2787,1917.0,146.000000,360.0,0.0,0,N
585,LP002912,1,1,1,0,0,4283,3000.0,172.000000,84.0,1.0,0,N
586,LP002916,1,1,0,0,0,2297,1522.0,104.000000,360.0,1.0,2,Y
587,LP002917,0,0,0,1,0,2165,0.0,70.000000,360.0,1.0,1,Y
588,LP002925,0,0,0,0,0,4750,0.0,94.000000,360.0,1.0,1,Y
589,LP002926,1,1,2,0,1,2726,0.0,106.000000,360.0,0.0,1,N
590,LP002928,1,1,0,0,0,3000,3416.0,56.000000,180.0,1.0,1,Y
591,LP002931,1,1,2,0,1,6000,0.0,205.000000,240.0,1.0,1,N
592,LP002933,1,0,3,0,1,9357,0.0,292.000000,360.0,1.0,1,Y
593,LP002936,1,1,0,0,0,3859,3300.0,142.000000,180.0,1.0,0,Y
594,LP002938,1,1,0,0,1,16120,0.0,260.000000,360.0,1.0,2,Y
595,LP002940,1,0,0,1,0,3833,0.0,110.000000,360.0,1.0,0,Y
596,LP002941,1,1,2,1,1,6383,1000.0,187.000000,360.0,1.0,0,N
597,LP002943,1,0,2,0,0,2987,0.0,88.000000,360.0,0.0,1,N
598,LP002945,1,1,0,0,1,9963,0.0,180.000000,360.0,1.0,0,Y
599,LP002948,1,1,2,0,0,5780,0.0,192.000000,360.0,1.0,2,Y
600,LP002949,0,0,3,0,0,416,41667.0,350.000000,180.0,1.0,2,N
601,LP002950,1,1,0,1,0,2894,2792.0,155.000000,360.0,1.0,0,Y
602,LP002953,1,1,3,0,0,5703,0.0,128.000000,360.0,1.0,2,Y
603,LP002958,1,0,0,0,0,3676,4301.0,172.000000,360.0,1.0,0,Y
604,LP002959,0,1,1,0,0,12000,0.0,496.000000,360.0,1.0,1,Y
605,LP002960,1,1,0,1,0,2400,3800.0,496.000000,180.0,1.0,2,N
606,LP002961,1,1,1,0,0,3400,2500.0,173.000000,360.0,1.0,1,Y
607,LP002964,1,1,2,1,0,3987,1411.0,157.000000,360.0,1.0,0,Y
608,LP002974,1,1,0,0,0,3232,1950.0,108.000000,360.0,1.0,0,Y
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,N

In [7]:
df.Dependents.replace('3+',3,inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int32
Married              614 non-null int32
Dependents           614 non-null object
Education            614 non-null int32
Self_Employed        614 non-null int32
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           613 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int32(4), int64(1), object(4)
memory usage: 43.2+ KB

In [9]:
df.fillna(np.mean(df.LoanAmount),inplace=True)

In [23]:
x = df.iloc[:,2:12]
x

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,0,0,0,5849,0.0,147.381729,360.0,1.0,2
1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2
3,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2
5,1,2,0,1,5417,4196.0,267.000000,360.0,1.0,2
6,1,0,1,0,2333,1516.0,95.000000,360.0,1.0,2
7,1,3,0,0,3036,2504.0,158.000000,360.0,0.0,1
8,1,2,0,0,4006,1526.0,168.000000,360.0,1.0,2
9,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,1
10,1,2,0,0,3200,700.0,70.000000,360.0,1.0,2
11,1,2,0,0,2500,1840.0,109.000000,360.0,1.0,2
12,1,2,0,0,3073,8106.0,200.000000,360.0,1.0,2
13,0,0,0,0,1853,2840.0,114.000000,360.0,1.0,0
14,1,2,0,0,1299,1086.0,17.000000,120.0,1.0,2
15,0,0,0,0,4950,0.0,125.000000,360.0,1.0,2
16,0,1,1,0,3596,0.0,100.000000,240.0,1.0,2
17,0,0,0,0,3510,0.0,76.000000,360.0,0.0,2
18,1,0,1,0,4887,0.0,133.000000,360.0,1.0,0
19,1,0,0,0,2600,3500.0,115.000000,360.0,1.0,2
20,1,0,1,0,7660,0.0,104.000000,360.0,0.0,2
21,1,1,0,0,5955,5625.0,315.000000,360.0,1.0,2
22,1,0,1,0,2600,1911.0,116.000000,360.0,0.0,1
23,1,2,1,0,3365,1917.0,112.000000,360.0,0.0,0
24,1,1,0,0,3717,2925.0,151.000000,360.0,0.0,1
25,1,0,0,1,9560,0.0,191.000000,360.0,1.0,1
26,1,0,0,0,2799,2253.0,122.000000,360.0,1.0,1
27,1,2,1,0,4226,1040.0,110.000000,360.0,1.0,2
28,0,0,1,0,1442,0.0,35.000000,360.0,1.0,2
29,0,2,0,0,3750,2083.0,120.000000,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...
584,1,1,0,0,2787,1917.0,146.000000,360.0,0.0,0
585,1,1,0,0,4283,3000.0,172.000000,84.0,1.0,0
586,1,0,0,0,2297,1522.0,104.000000,360.0,1.0,2
587,0,0,1,0,2165,0.0,70.000000,360.0,1.0,1
588,0,0,0,0,4750,0.0,94.000000,360.0,1.0,1
589,1,2,0,1,2726,0.0,106.000000,360.0,0.0,1
590,1,0,0,0,3000,3416.0,56.000000,180.0,1.0,1
591,1,2,0,1,6000,0.0,205.000000,240.0,1.0,1
592,0,3,0,1,9357,0.0,292.000000,360.0,1.0,1
593,1,0,0,0,3859,3300.0,142.000000,180.0,1.0,0
594,1,0,0,1,16120,0.0,260.000000,360.0,1.0,2
595,0,0,1,0,3833,0.0,110.000000,360.0,1.0,0
596,1,2,1,1,6383,1000.0,187.000000,360.0,1.0,0
597,0,2,0,0,2987,0.0,88.000000,360.0,0.0,1
598,1,0,0,1,9963,0.0,180.000000,360.0,1.0,0
599,1,2,0,0,5780,0.0,192.000000,360.0,1.0,2
600,0,3,0,0,416,41667.0,350.000000,180.0,1.0,2
601,1,0,1,0,2894,2792.0,155.000000,360.0,1.0,0
602,1,3,0,0,5703,0.0,128.000000,360.0,1.0,2
603,0,0,0,0,3676,4301.0,172.000000,360.0,1.0,0
604,1,1,0,0,12000,0.0,496.000000,360.0,1.0,1
605,1,0,1,0,2400,3800.0,496.000000,180.0,1.0,2
606,1,1,0,0,3400,2500.0,173.000000,360.0,1.0,1
607,1,2,1,0,3987,1411.0,157.000000,360.0,1.0,0
608,1,0,0,0,3232,1950.0,108.000000,360.0,1.0,0
609,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0
610,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0
611,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2
612,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2
613,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1

In [24]:
y = df.iloc[:,-1]
x_train=x
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.33,random_state=80)

In [34]:
from sklearn.linear_model import LogisticRegression
f=LogisticRegression()
f.fit(x_train,y_train)
f.score(x_test,y_test)

C:\Users\Awadhesh\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7980295566502463

In [35]:
from sklearn.linear_model import SGDClassifier
m=SGDClassifier()
m.fit(x_train,y_train)
m.score(x_test,y_test)

0.4876847290640394

In [36]:
from sklearn.tree import DecisionTreeClassifier
l=DecisionTreeClassifier()
l.fit(x_train,y_train)
l.score(x_test,y_test)

0.6945812807881774

In [38]:
from sklearn.ensemble import RandomForestClassifier
s=RandomForestClassifier()
s.fit(x_train,y_train)
s.score(x_test,y_test)

C:\Users\Awadhesh\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.7733990147783252