In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import mean_squared_error,mean_absolute_error
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv('C:\\Users\\Awadhesh\\dataset1\\Automobile_insurance_fraud.csv')

In [12]:
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_number                  1000 non-null int64
policy_bind_date               1000 non-null object
policy_state                   1000 non-null object
policy_csl                     1000 non-null object
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null object
insured_education_level        1000 non-null object
insured_occupation             1000 non-null object
insured_hobbies                1000 non-null object
insured_relationship           1000 non-null object
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_date                  1000 non-null object
incident_type                  1000 non-null object
collision_type                 1000 non-null object
incident_severity              1000 non-null object
authorities_contacted          1000 non-null object
incident_state                 1000 non-null object
incident_city                  1000 non-null object
incident_location              1000 non-null object
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null object
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null object
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null object
auto_model                     1000 non-null object
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null object
_c39                           0 non-null float64
dtypes: float64(2), int64(17), object(21)
memory usage: 230.5+ KB

In [14]:
label_calls=['policy_state','policy_csl','insured_sex','insured_education_level','insured_occupation','insured_hobbies','insured_relationship','incident_type','collision_type','incident_severity','incident_state','incident_city','incident_location','property_damage','police_report_available','fraud_reported']
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
df[label_calls] = df[label_calls].apply(lambda x : label.fit_transform(x))

In [15]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,2,1,1000,1406.91,0,466132,...,2,71610,6510,13020,52080,Saab,92x,2004,1,NaN
1,228,42,342868,27-06-2006,1,1,2000,1197.22,5000000,468176,...,0,5070,780,780,3510,Mercedes,E400,2007,1,NaN
2,134,29,687698,06-09-2000,2,0,2000,1413.14,5000000,430632,...,1,34650,7700,3850,23100,Dodge,RAM,2007,0,NaN
3,256,41,227811,25-05-1990,0,1,2000,1415.74,6000000,608117,...,1,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1,NaN
4,228,44,367455,06-06-2014,0,2,1000,1583.91,6000000,610706,...,1,6500,1300,650,4550,Accura,RSX,2009,0,NaN
5,256,39,104594,12-10-2006,2,1,1000,1351.10,0,478456,...,1,64100,6410,6410,51280,Saab,95,2003,1,NaN
6,137,34,413978,04-06-2000,1,1,1000,1333.35,0,441716,...,0,78650,21450,7150,50050,Nissan,Pathfinder,2012,0,NaN
7,165,37,429027,03-02-1990,0,0,1000,1137.03,0,603195,...,2,51590,9380,9380,32830,Audi,A5,2015,0,NaN
8,27,33,485665,05-02-1997,0,0,500,1442.99,0,601734,...,2,27700,2770,2770,22160,Toyota,Camry,2012,0,NaN
9,212,42,636550,25-07-2011,0,0,500,1315.68,0,600983,...,0,42300,4700,4700,32900,Saab,92x,1996,0,NaN
10,235,42,543610,26-05-2002,2,0,500,1253.12,4000000,462283,...,0,87010,7910,15820,63280,Ford,F150,2002,0,NaN
11,447,61,214618,29-05-1999,2,0,2000,1137.16,0,615561,...,2,114920,17680,17680,79560,Audi,A3,2006,0,NaN
12,60,23,842643,20-11-1997,2,2,500,1215.36,3000000,432220,...,1,56520,4710,9420,42390,Saab,95,2000,0,NaN
13,121,34,626808,26-10-2012,2,0,1000,936.61,0,464652,...,1,7280,1120,1120,5040,Toyota,Highlander,2010,0,NaN
14,180,38,644081,28-12-1998,2,1,2000,1301.13,0,476685,...,2,46200,4200,8400,33600,Dodge,Neon,2003,1,NaN
15,473,58,892874,19-10-1992,1,0,2000,1131.40,0,458733,...,1,63120,10520,10520,42080,Accura,MDX,1999,1,NaN
16,70,26,558938,08-06-2005,2,2,1000,1199.44,5000000,619884,...,2,52110,5790,5790,40530,Nissan,Maxima,2012,0,NaN
17,140,31,275265,15-11-2004,1,2,500,708.64,6000000,470610,...,2,77880,14160,7080,56640,Suburu,Legacy,2015,0,NaN
18,160,37,921202,28-12-2014,2,2,500,1374.22,0,472135,...,1,72930,6630,13260,53040,Accura,TL,2015,0,NaN
19,196,39,143972,02-08-1992,1,2,2000,1475.73,0,477670,...,1,60400,6040,6040,48320,Nissan,Pathfinder,2014,0,NaN
20,460,62,183430,25-06-2002,1,1,1000,1187.96,4000000,618845,...,0,47160,0,5240,41920,Suburu,Impreza,2011,0,NaN
21,217,41,431876,27-11-2005,0,2,2000,875.15,0,442479,...,0,37840,0,4730,33110,Accura,RSX,1996,0,NaN
22,370,55,285496,27-05-1994,0,0,2000,972.18,0,443920,...,2,71520,17880,5960,47680,Suburu,Forrestor,2000,1,NaN
23,413,55,115399,08-02-1991,1,0,2000,1268.79,0,453148,...,0,98160,8180,16360,73620,Dodge,RAM,2011,1,NaN
24,237,40,736882,02-02-1996,1,0,1000,883.31,0,434733,...,1,77880,7080,14160,56640,Ford,Escape,2005,0,NaN
25,8,35,699044,05-12-2013,2,0,2000,1266.92,0,613982,...,2,71500,16500,11000,44000,Ford,Escape,2006,1,NaN
26,257,43,863236,20-09-1990,1,0,2000,1322.10,0,436984,...,2,9020,1640,820,6560,Toyota,Camry,2005,0,NaN
27,202,34,608513,18-07-2002,1,0,500,848.07,3000000,607730,...,0,5720,1040,520,4160,Suburu,Forrestor,2003,1,NaN
28,224,40,914088,08-02-1990,2,0,2000,1291.70,0,609837,...,2,69840,7760,15520,46560,Dodge,Neon,2009,0,NaN
29,241,45,596785,04-03-2014,0,2,2000,1104.50,0,432211,...,1,91650,14100,14100,63450,Accura,TL,2011,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,213,35,844129,20-09-1990,2,1,500,871.46,0,477938,...,2,74140,13480,6740,53920,Ford,Escape,2007,0,NaN
971,79,25,732169,05-11-2000,2,2,500,1863.04,0,462698,...,0,67800,13560,6780,47460,Mercedes,C300,1995,0,NaN
972,232,44,221854,03-10-1994,2,1,2000,1181.64,0,454552,...,2,55400,5540,11080,38780,Jeep,Grand Cherokee,2002,1,NaN
973,230,37,776950,11-04-2005,0,2,1000,1060.74,0,471585,...,0,49100,9820,4910,34370,Suburu,Impreza,1996,1,NaN
974,234,41,291006,16-05-1990,1,0,500,951.56,0,455426,...,0,98280,15120,7560,75600,Chevrolet,Tahoe,2007,1,NaN
975,240,40,845751,11-09-2004,1,0,500,1533.71,9000000,469856,...,0,66550,6050,12100,48400,Ford,Escape,2008,0,NaN
976,143,33,889764,30-11-1993,2,2,1000,1200.09,0,454191,...,0,70400,14080,7040,49280,Accura,RSX,2002,0,NaN
977,266,42,929306,06-03-2003,1,0,500,1093.83,4000000,468454,...,1,53280,4440,8880,39960,Suburu,Impreza,2015,1,NaN
978,89,32,515457,18-12-1996,1,1,1000,988.93,0,614187,...,2,84590,15380,15380,53830,Dodge,Neon,1999,0,NaN
979,229,37,556270,21-02-1995,1,2,1000,1331.94,0,433974,...,2,54560,9920,9920,34720,Saab,95,2004,0,NaN
980,245,40,908935,11-12-2009,0,2,1000,1361.45,0,604833,...,2,82170,7470,7470,67230,Suburu,Forrestor,1999,0,NaN
981,50,44,525862,18-10-2000,2,1,2000,1188.51,0,447469,...,1,61100,6110,12220,42770,Dodge,Neon,2008,0,NaN
982,230,43,490514,09-02-2007,1,2,2000,1101.83,0,451529,...,2,51900,5190,10380,36330,BMW,M5,2011,1,NaN
983,17,39,774895,28-10-2006,0,1,1000,840.95,0,431202,...,0,3440,430,430,2580,Suburu,Legacy,2002,0,NaN
984,163,36,974522,27-01-2000,1,1,1000,1503.21,0,448190,...,1,51390,5710,11420,34260,Toyota,Corolla,2013,0,NaN
985,29,32,669809,05-04-2002,2,0,1000,1722.50,0,453713,...,0,76900,7690,7690,61520,Jeep,Wrangler,1995,0,NaN
986,232,42,182953,30-04-2013,1,0,500,944.03,0,440153,...,0,77000,15400,7700,53900,Toyota,Highlander,2015,1,NaN
987,235,39,836349,01-05-2013,0,2,2000,1453.61,4000000,619570,...,0,60320,9280,9280,41760,Chevrolet,Tahoe,2012,1,NaN
988,295,46,591269,09-01-1999,1,0,500,1672.88,0,478947,...,1,60700,12140,6070,42490,Honda,Civic,1997,0,NaN
989,22,21,550127,04-07-2007,1,1,1000,1248.05,0,443550,...,0,53280,5920,0,47360,Chevrolet,Malibu,2015,0,NaN
990,286,43,663190,05-02-1994,0,0,500,1564.43,3000000,477644,...,2,34290,3810,3810,26670,Jeep,Grand Cherokee,2013,0,NaN
991,257,44,109392,12-07-2006,2,0,1000,1280.88,0,433981,...,1,46980,0,5220,41760,Accura,TL,2002,0,NaN
992,94,26,215278,24-10-2007,1,0,500,722.66,0,433696,...,2,36700,3670,7340,25690,Nissan,Pathfinder,2010,0,NaN
993,124,28,674570,08-12-2001,2,1,1000,1235.14,0,443567,...,0,60200,6020,6020,48160,Volkswagen,Passat,2012,0,NaN
994,141,30,681486,24-03-2007,1,2,1000,1347.04,0,430665,...,2,6480,540,1080,4860,Honda,Civic,1996,0,NaN
995,3,38,941851,16-07-1991,2,2,1000,1310.80,0,431289,...,0,87200,17440,8720,61040,Honda,Accord,2006,0,NaN
996,285,41,186934,05-01-2014,0,0,1000,1436.79,0,608177,...,0,108480,18080,18080,72320,Volkswagen,Passat,2015,0,NaN
997,130,34,918516,17-02-2003,2,1,500,1383.49,3000000,442797,...,2,67500,7500,7500,52500,Suburu,Impreza,1996,0,NaN
998,458,62,533940,18-11-2011,0,2,2000,1356.92,5000000,441714,...,2,46980,5220,5220,36540,Audi,A5,1998,0,NaN
999,456,60,556080,11-11-1996,2,1,1000,766.19,0,612260,...,0,5060,460,920,3680,Mercedes,E400,2007,0,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_number                  1000 non-null int64
policy_bind_date               1000 non-null object
policy_state                   1000 non-null int32
policy_csl                     1000 non-null int32
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null int32
insured_education_level        1000 non-null int32
insured_occupation             1000 non-null int32
insured_hobbies                1000 non-null int32
insured_relationship           1000 non-null int32
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_date                  1000 non-null object
incident_type                  1000 non-null int32
collision_type                 1000 non-null int32
incident_severity              1000 non-null int32
authorities_contacted          1000 non-null object
incident_state                 1000 non-null int32
incident_city                  1000 non-null int32
incident_location              1000 non-null int32
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null int32
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null int32
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null object
auto_model                     1000 non-null object
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null int32
_c39                           0 non-null float64
dtypes: float64(2), int32(16), int64(17), object(5)
memory usage: 230.5+ KB

In [17]:
df.drop(['policy_bind_date'],axis=1)

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2,1,1000,1406.91,0,466132,1,...,2,71610,6510,13020,52080,Saab,92x,2004,1,NaN
1,228,42,342868,1,1,2000,1197.22,5000000,468176,1,...,0,5070,780,780,3510,Mercedes,E400,2007,1,NaN
2,134,29,687698,2,0,2000,1413.14,5000000,430632,0,...,1,34650,7700,3850,23100,Dodge,RAM,2007,0,NaN
3,256,41,227811,0,1,2000,1415.74,6000000,608117,0,...,1,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1,NaN
4,228,44,367455,0,2,1000,1583.91,6000000,610706,1,...,1,6500,1300,650,4550,Accura,RSX,2009,0,NaN
5,256,39,104594,2,1,1000,1351.10,0,478456,0,...,1,64100,6410,6410,51280,Saab,95,2003,1,NaN
6,137,34,413978,1,1,1000,1333.35,0,441716,1,...,0,78650,21450,7150,50050,Nissan,Pathfinder,2012,0,NaN
7,165,37,429027,0,0,1000,1137.03,0,603195,1,...,2,51590,9380,9380,32830,Audi,A5,2015,0,NaN
8,27,33,485665,0,0,500,1442.99,0,601734,0,...,2,27700,2770,2770,22160,Toyota,Camry,2012,0,NaN
9,212,42,636550,0,0,500,1315.68,0,600983,1,...,0,42300,4700,4700,32900,Saab,92x,1996,0,NaN
10,235,42,543610,2,0,500,1253.12,4000000,462283,0,...,0,87010,7910,15820,63280,Ford,F150,2002,0,NaN
11,447,61,214618,2,0,2000,1137.16,0,615561,0,...,2,114920,17680,17680,79560,Audi,A3,2006,0,NaN
12,60,23,842643,2,2,500,1215.36,3000000,432220,1,...,1,56520,4710,9420,42390,Saab,95,2000,0,NaN
13,121,34,626808,2,0,1000,936.61,0,464652,0,...,1,7280,1120,1120,5040,Toyota,Highlander,2010,0,NaN
14,180,38,644081,2,1,2000,1301.13,0,476685,0,...,2,46200,4200,8400,33600,Dodge,Neon,2003,1,NaN
15,473,58,892874,1,0,2000,1131.40,0,458733,0,...,1,63120,10520,10520,42080,Accura,MDX,1999,1,NaN
16,70,26,558938,2,2,1000,1199.44,5000000,619884,1,...,2,52110,5790,5790,40530,Nissan,Maxima,2012,0,NaN
17,140,31,275265,1,2,500,708.64,6000000,470610,1,...,2,77880,14160,7080,56640,Suburu,Legacy,2015,0,NaN
18,160,37,921202,2,2,500,1374.22,0,472135,0,...,1,72930,6630,13260,53040,Accura,TL,2015,0,NaN
19,196,39,143972,1,2,2000,1475.73,0,477670,0,...,1,60400,6040,6040,48320,Nissan,Pathfinder,2014,0,NaN
20,460,62,183430,1,1,1000,1187.96,4000000,618845,1,...,0,47160,0,5240,41920,Suburu,Impreza,2011,0,NaN
21,217,41,431876,0,2,2000,875.15,0,442479,0,...,0,37840,0,4730,33110,Accura,RSX,1996,0,NaN
22,370,55,285496,0,0,2000,972.18,0,443920,1,...,2,71520,17880,5960,47680,Suburu,Forrestor,2000,1,NaN
23,413,55,115399,1,0,2000,1268.79,0,453148,1,...,0,98160,8180,16360,73620,Dodge,RAM,2011,1,NaN
24,237,40,736882,1,0,1000,883.31,0,434733,1,...,1,77880,7080,14160,56640,Ford,Escape,2005,0,NaN
25,8,35,699044,2,0,2000,1266.92,0,613982,1,...,2,71500,16500,11000,44000,Ford,Escape,2006,1,NaN
26,257,43,863236,1,0,2000,1322.10,0,436984,1,...,2,9020,1640,820,6560,Toyota,Camry,2005,0,NaN
27,202,34,608513,1,0,500,848.07,3000000,607730,1,...,0,5720,1040,520,4160,Suburu,Forrestor,2003,1,NaN
28,224,40,914088,2,0,2000,1291.70,0,609837,0,...,2,69840,7760,15520,46560,Dodge,Neon,2009,0,NaN
29,241,45,596785,0,2,2000,1104.50,0,432211,0,...,1,91650,14100,14100,63450,Accura,TL,2011,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,213,35,844129,2,1,500,871.46,0,477938,1,...,2,74140,13480,6740,53920,Ford,Escape,2007,0,NaN
971,79,25,732169,2,2,500,1863.04,0,462698,0,...,0,67800,13560,6780,47460,Mercedes,C300,1995,0,NaN
972,232,44,221854,2,1,2000,1181.64,0,454552,1,...,2,55400,5540,11080,38780,Jeep,Grand Cherokee,2002,1,NaN
973,230,37,776950,0,2,1000,1060.74,0,471585,1,...,0,49100,9820,4910,34370,Suburu,Impreza,1996,1,NaN
974,234,41,291006,1,0,500,951.56,0,455426,0,...,0,98280,15120,7560,75600,Chevrolet,Tahoe,2007,1,NaN
975,240,40,845751,1,0,500,1533.71,9000000,469856,0,...,0,66550,6050,12100,48400,Ford,Escape,2008,0,NaN
976,143,33,889764,2,2,1000,1200.09,0,454191,0,...,0,70400,14080,7040,49280,Accura,RSX,2002,0,NaN
977,266,42,929306,1,0,500,1093.83,4000000,468454,1,...,1,53280,4440,8880,39960,Suburu,Impreza,2015,1,NaN
978,89,32,515457,1,1,1000,988.93,0,614187,0,...,2,84590,15380,15380,53830,Dodge,Neon,1999,0,NaN
979,229,37,556270,1,2,1000,1331.94,0,433974,0,...,2,54560,9920,9920,34720,Saab,95,2004,0,NaN
980,245,40,908935,0,2,1000,1361.45,0,604833,1,...,2,82170,7470,7470,67230,Suburu,Forrestor,1999,0,NaN
981,50,44,525862,2,1,2000,1188.51,0,447469,1,...,1,61100,6110,12220,42770,Dodge,Neon,2008,0,NaN
982,230,43,490514,1,2,2000,1101.83,0,451529,1,...,2,51900,5190,10380,36330,BMW,M5,2011,1,NaN
983,17,39,774895,0,1,1000,840.95,0,431202,0,...,0,3440,430,430,2580,Suburu,Legacy,2002,0,NaN
984,163,36,974522,1,1,1000,1503.21,0,448190,1,...,1,51390,5710,11420,34260,Toyota,Corolla,2013,0,NaN
985,29,32,669809,2,0,1000,1722.50,0,453713,1,...,0,76900,7690,7690,61520,Jeep,Wrangler,1995,0,NaN
986,232,42,182953,1,0,500,944.03,0,440153,1,...,0,77000,15400,7700,53900,Toyota,Highlander,2015,1,NaN
987,235,39,836349,0,2,2000,1453.61,4000000,619570,1,...,0,60320,9280,9280,41760,Chevrolet,Tahoe,2012,1,NaN
988,295,46,591269,1,0,500,1672.88,0,478947,0,...,1,60700,12140,6070,42490,Honda,Civic,1997,0,NaN
989,22,21,550127,1,1,1000,1248.05,0,443550,0,...,0,53280,5920,0,47360,Chevrolet,Malibu,2015,0,NaN
990,286,43,663190,0,0,500,1564.43,3000000,477644,0,...,2,34290,3810,3810,26670,Jeep,Grand Cherokee,2013,0,NaN
991,257,44,109392,2,0,1000,1280.88,0,433981,1,...,1,46980,0,5220,41760,Accura,TL,2002,0,NaN
992,94,26,215278,1,0,500,722.66,0,433696,1,...,2,36700,3670,7340,25690,Nissan,Pathfinder,2010,0,NaN
993,124,28,674570,2,1,1000,1235.14,0,443567,1,...,0,60200,6020,6020,48160,Volkswagen,Passat,2012,0,NaN
994,141,30,681486,1,2,1000,1347.04,0,430665,1,...,2,6480,540,1080,4860,Honda,Civic,1996,0,NaN
995,3,38,941851,2,2,1000,1310.80,0,431289,0,...,0,87200,17440,8720,61040,Honda,Accord,2006,0,NaN
996,285,41,186934,0,0,1000,1436.79,0,608177,0,...,0,108480,18080,18080,72320,Volkswagen,Passat,2015,0,NaN
997,130,34,918516,2,1,500,1383.49,3000000,442797,0,...,2,67500,7500,7500,52500,Suburu,Impreza,1996,0,NaN
998,458,62,533940,0,2,2000,1356.92,5000000,441714,1,...,2,46980,5220,5220,36540,Audi,A5,1998,0,NaN
999,456,60,556080,2,1,1000,766.19,0,612260,0,...,0,5060,460,920,3680,Mercedes,E400,2007,0,NaN

In [18]:
df.drop(['incident_date'],axis=1)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,2,1,1000,1406.91,0,466132,...,2,71610,6510,13020,52080,Saab,92x,2004,1,NaN
1,228,42,342868,27-06-2006,1,1,2000,1197.22,5000000,468176,...,0,5070,780,780,3510,Mercedes,E400,2007,1,NaN
2,134,29,687698,06-09-2000,2,0,2000,1413.14,5000000,430632,...,1,34650,7700,3850,23100,Dodge,RAM,2007,0,NaN
3,256,41,227811,25-05-1990,0,1,2000,1415.74,6000000,608117,...,1,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1,NaN
4,228,44,367455,06-06-2014,0,2,1000,1583.91,6000000,610706,...,1,6500,1300,650,4550,Accura,RSX,2009,0,NaN
5,256,39,104594,12-10-2006,2,1,1000,1351.10,0,478456,...,1,64100,6410,6410,51280,Saab,95,2003,1,NaN
6,137,34,413978,04-06-2000,1,1,1000,1333.35,0,441716,...,0,78650,21450,7150,50050,Nissan,Pathfinder,2012,0,NaN
7,165,37,429027,03-02-1990,0,0,1000,1137.03,0,603195,...,2,51590,9380,9380,32830,Audi,A5,2015,0,NaN
8,27,33,485665,05-02-1997,0,0,500,1442.99,0,601734,...,2,27700,2770,2770,22160,Toyota,Camry,2012,0,NaN
9,212,42,636550,25-07-2011,0,0,500,1315.68,0,600983,...,0,42300,4700,4700,32900,Saab,92x,1996,0,NaN
10,235,42,543610,26-05-2002,2,0,500,1253.12,4000000,462283,...,0,87010,7910,15820,63280,Ford,F150,2002,0,NaN
11,447,61,214618,29-05-1999,2,0,2000,1137.16,0,615561,...,2,114920,17680,17680,79560,Audi,A3,2006,0,NaN
12,60,23,842643,20-11-1997,2,2,500,1215.36,3000000,432220,...,1,56520,4710,9420,42390,Saab,95,2000,0,NaN
13,121,34,626808,26-10-2012,2,0,1000,936.61,0,464652,...,1,7280,1120,1120,5040,Toyota,Highlander,2010,0,NaN
14,180,38,644081,28-12-1998,2,1,2000,1301.13,0,476685,...,2,46200,4200,8400,33600,Dodge,Neon,2003,1,NaN
15,473,58,892874,19-10-1992,1,0,2000,1131.40,0,458733,...,1,63120,10520,10520,42080,Accura,MDX,1999,1,NaN
16,70,26,558938,08-06-2005,2,2,1000,1199.44,5000000,619884,...,2,52110,5790,5790,40530,Nissan,Maxima,2012,0,NaN
17,140,31,275265,15-11-2004,1,2,500,708.64,6000000,470610,...,2,77880,14160,7080,56640,Suburu,Legacy,2015,0,NaN
18,160,37,921202,28-12-2014,2,2,500,1374.22,0,472135,...,1,72930,6630,13260,53040,Accura,TL,2015,0,NaN
19,196,39,143972,02-08-1992,1,2,2000,1475.73,0,477670,...,1,60400,6040,6040,48320,Nissan,Pathfinder,2014,0,NaN
20,460,62,183430,25-06-2002,1,1,1000,1187.96,4000000,618845,...,0,47160,0,5240,41920,Suburu,Impreza,2011,0,NaN
21,217,41,431876,27-11-2005,0,2,2000,875.15,0,442479,...,0,37840,0,4730,33110,Accura,RSX,1996,0,NaN
22,370,55,285496,27-05-1994,0,0,2000,972.18,0,443920,...,2,71520,17880,5960,47680,Suburu,Forrestor,2000,1,NaN
23,413,55,115399,08-02-1991,1,0,2000,1268.79,0,453148,...,0,98160,8180,16360,73620,Dodge,RAM,2011,1,NaN
24,237,40,736882,02-02-1996,1,0,1000,883.31,0,434733,...,1,77880,7080,14160,56640,Ford,Escape,2005,0,NaN
25,8,35,699044,05-12-2013,2,0,2000,1266.92,0,613982,...,2,71500,16500,11000,44000,Ford,Escape,2006,1,NaN
26,257,43,863236,20-09-1990,1,0,2000,1322.10,0,436984,...,2,9020,1640,820,6560,Toyota,Camry,2005,0,NaN
27,202,34,608513,18-07-2002,1,0,500,848.07,3000000,607730,...,0,5720,1040,520,4160,Suburu,Forrestor,2003,1,NaN
28,224,40,914088,08-02-1990,2,0,2000,1291.70,0,609837,...,2,69840,7760,15520,46560,Dodge,Neon,2009,0,NaN
29,241,45,596785,04-03-2014,0,2,2000,1104.50,0,432211,...,1,91650,14100,14100,63450,Accura,TL,2011,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,213,35,844129,20-09-1990,2,1,500,871.46,0,477938,...,2,74140,13480,6740,53920,Ford,Escape,2007,0,NaN
971,79,25,732169,05-11-2000,2,2,500,1863.04,0,462698,...,0,67800,13560,6780,47460,Mercedes,C300,1995,0,NaN
972,232,44,221854,03-10-1994,2,1,2000,1181.64,0,454552,...,2,55400,5540,11080,38780,Jeep,Grand Cherokee,2002,1,NaN
973,230,37,776950,11-04-2005,0,2,1000,1060.74,0,471585,...,0,49100,9820,4910,34370,Suburu,Impreza,1996,1,NaN
974,234,41,291006,16-05-1990,1,0,500,951.56,0,455426,...,0,98280,15120,7560,75600,Chevrolet,Tahoe,2007,1,NaN
975,240,40,845751,11-09-2004,1,0,500,1533.71,9000000,469856,...,0,66550,6050,12100,48400,Ford,Escape,2008,0,NaN
976,143,33,889764,30-11-1993,2,2,1000,1200.09,0,454191,...,0,70400,14080,7040,49280,Accura,RSX,2002,0,NaN
977,266,42,929306,06-03-2003,1,0,500,1093.83,4000000,468454,...,1,53280,4440,8880,39960,Suburu,Impreza,2015,1,NaN
978,89,32,515457,18-12-1996,1,1,1000,988.93,0,614187,...,2,84590,15380,15380,53830,Dodge,Neon,1999,0,NaN
979,229,37,556270,21-02-1995,1,2,1000,1331.94,0,433974,...,2,54560,9920,9920,34720,Saab,95,2004,0,NaN
980,245,40,908935,11-12-2009,0,2,1000,1361.45,0,604833,...,2,82170,7470,7470,67230,Suburu,Forrestor,1999,0,NaN
981,50,44,525862,18-10-2000,2,1,2000,1188.51,0,447469,...,1,61100,6110,12220,42770,Dodge,Neon,2008,0,NaN
982,230,43,490514,09-02-2007,1,2,2000,1101.83,0,451529,...,2,51900,5190,10380,36330,BMW,M5,2011,1,NaN
983,17,39,774895,28-10-2006,0,1,1000,840.95,0,431202,...,0,3440,430,430,2580,Suburu,Legacy,2002,0,NaN
984,163,36,974522,27-01-2000,1,1,1000,1503.21,0,448190,...,1,51390,5710,11420,34260,Toyota,Corolla,2013,0,NaN
985,29,32,669809,05-04-2002,2,0,1000,1722.50,0,453713,...,0,76900,7690,7690,61520,Jeep,Wrangler,1995,0,NaN
986,232,42,182953,30-04-2013,1,0,500,944.03,0,440153,...,0,77000,15400,7700,53900,Toyota,Highlander,2015,1,NaN
987,235,39,836349,01-05-2013,0,2,2000,1453.61,4000000,619570,...,0,60320,9280,9280,41760,Chevrolet,Tahoe,2012,1,NaN
988,295,46,591269,09-01-1999,1,0,500,1672.88,0,478947,...,1,60700,12140,6070,42490,Honda,Civic,1997,0,NaN
989,22,21,550127,04-07-2007,1,1,1000,1248.05,0,443550,...,0,53280,5920,0,47360,Chevrolet,Malibu,2015,0,NaN
990,286,43,663190,05-02-1994,0,0,500,1564.43,3000000,477644,...,2,34290,3810,3810,26670,Jeep,Grand Cherokee,2013,0,NaN
991,257,44,109392,12-07-2006,2,0,1000,1280.88,0,433981,...,1,46980,0,5220,41760,Accura,TL,2002,0,NaN
992,94,26,215278,24-10-2007,1,0,500,722.66,0,433696,...,2,36700,3670,7340,25690,Nissan,Pathfinder,2010,0,NaN
993,124,28,674570,08-12-2001,2,1,1000,1235.14,0,443567,...,0,60200,6020,6020,48160,Volkswagen,Passat,2012,0,NaN
994,141,30,681486,24-03-2007,1,2,1000,1347.04,0,430665,...,2,6480,540,1080,4860,Honda,Civic,1996,0,NaN
995,3,38,941851,16-07-1991,2,2,1000,1310.80,0,431289,...,0,87200,17440,8720,61040,Honda,Accord,2006,0,NaN
996,285,41,186934,05-01-2014,0,0,1000,1436.79,0,608177,...,0,108480,18080,18080,72320,Volkswagen,Passat,2015,0,NaN
997,130,34,918516,17-02-2003,2,1,500,1383.49,3000000,442797,...,2,67500,7500,7500,52500,Suburu,Impreza,1996,0,NaN
998,458,62,533940,18-11-2011,0,2,2000,1356.92,5000000,441714,...,2,46980,5220,5220,36540,Audi,A5,1998,0,NaN
999,456,60,556080,11-11-1996,2,1,1000,766.19,0,612260,...,0,5060,460,920,3680,Mercedes,E400,2007,0,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_number                  1000 non-null int64
policy_bind_date               1000 non-null object
policy_state                   1000 non-null int32
policy_csl                     1000 non-null int32
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null int32
insured_education_level        1000 non-null int32
insured_occupation             1000 non-null int32
insured_hobbies                1000 non-null int32
insured_relationship           1000 non-null int32
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_date                  1000 non-null object
incident_type                  1000 non-null int32
collision_type                 1000 non-null int32
incident_severity              1000 non-null int32
authorities_contacted          1000 non-null object
incident_state                 1000 non-null int32
incident_city                  1000 non-null int32
incident_location              1000 non-null int32
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null int32
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null int32
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null object
auto_model                     1000 non-null object
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null int32
_c39                           0 non-null float64
dtypes: float64(2), int32(16), int64(17), object(5)
memory usage: 230.5+ KB

In [20]:
df.drop(['authorities_contacted'],axis=1) 
df.drop(['policy_bind_date'],axis=1)

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2,1,1000,1406.91,0,466132,1,...,2,71610,6510,13020,52080,Saab,92x,2004,1,NaN
1,228,42,342868,1,1,2000,1197.22,5000000,468176,1,...,0,5070,780,780,3510,Mercedes,E400,2007,1,NaN
2,134,29,687698,2,0,2000,1413.14,5000000,430632,0,...,1,34650,7700,3850,23100,Dodge,RAM,2007,0,NaN
3,256,41,227811,0,1,2000,1415.74,6000000,608117,0,...,1,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1,NaN
4,228,44,367455,0,2,1000,1583.91,6000000,610706,1,...,1,6500,1300,650,4550,Accura,RSX,2009,0,NaN
5,256,39,104594,2,1,1000,1351.10,0,478456,0,...,1,64100,6410,6410,51280,Saab,95,2003,1,NaN
6,137,34,413978,1,1,1000,1333.35,0,441716,1,...,0,78650,21450,7150,50050,Nissan,Pathfinder,2012,0,NaN
7,165,37,429027,0,0,1000,1137.03,0,603195,1,...,2,51590,9380,9380,32830,Audi,A5,2015,0,NaN
8,27,33,485665,0,0,500,1442.99,0,601734,0,...,2,27700,2770,2770,22160,Toyota,Camry,2012,0,NaN
9,212,42,636550,0,0,500,1315.68,0,600983,1,...,0,42300,4700,4700,32900,Saab,92x,1996,0,NaN
10,235,42,543610,2,0,500,1253.12,4000000,462283,0,...,0,87010,7910,15820,63280,Ford,F150,2002,0,NaN
11,447,61,214618,2,0,2000,1137.16,0,615561,0,...,2,114920,17680,17680,79560,Audi,A3,2006,0,NaN
12,60,23,842643,2,2,500,1215.36,3000000,432220,1,...,1,56520,4710,9420,42390,Saab,95,2000,0,NaN
13,121,34,626808,2,0,1000,936.61,0,464652,0,...,1,7280,1120,1120,5040,Toyota,Highlander,2010,0,NaN
14,180,38,644081,2,1,2000,1301.13,0,476685,0,...,2,46200,4200,8400,33600,Dodge,Neon,2003,1,NaN
15,473,58,892874,1,0,2000,1131.40,0,458733,0,...,1,63120,10520,10520,42080,Accura,MDX,1999,1,NaN
16,70,26,558938,2,2,1000,1199.44,5000000,619884,1,...,2,52110,5790,5790,40530,Nissan,Maxima,2012,0,NaN
17,140,31,275265,1,2,500,708.64,6000000,470610,1,...,2,77880,14160,7080,56640,Suburu,Legacy,2015,0,NaN
18,160,37,921202,2,2,500,1374.22,0,472135,0,...,1,72930,6630,13260,53040,Accura,TL,2015,0,NaN
19,196,39,143972,1,2,2000,1475.73,0,477670,0,...,1,60400,6040,6040,48320,Nissan,Pathfinder,2014,0,NaN
20,460,62,183430,1,1,1000,1187.96,4000000,618845,1,...,0,47160,0,5240,41920,Suburu,Impreza,2011,0,NaN
21,217,41,431876,0,2,2000,875.15,0,442479,0,...,0,37840,0,4730,33110,Accura,RSX,1996,0,NaN
22,370,55,285496,0,0,2000,972.18,0,443920,1,...,2,71520,17880,5960,47680,Suburu,Forrestor,2000,1,NaN
23,413,55,115399,1,0,2000,1268.79,0,453148,1,...,0,98160,8180,16360,73620,Dodge,RAM,2011,1,NaN
24,237,40,736882,1,0,1000,883.31,0,434733,1,...,1,77880,7080,14160,56640,Ford,Escape,2005,0,NaN
25,8,35,699044,2,0,2000,1266.92,0,613982,1,...,2,71500,16500,11000,44000,Ford,Escape,2006,1,NaN
26,257,43,863236,1,0,2000,1322.10,0,436984,1,...,2,9020,1640,820,6560,Toyota,Camry,2005,0,NaN
27,202,34,608513,1,0,500,848.07,3000000,607730,1,...,0,5720,1040,520,4160,Suburu,Forrestor,2003,1,NaN
28,224,40,914088,2,0,2000,1291.70,0,609837,0,...,2,69840,7760,15520,46560,Dodge,Neon,2009,0,NaN
29,241,45,596785,0,2,2000,1104.50,0,432211,0,...,1,91650,14100,14100,63450,Accura,TL,2011,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,213,35,844129,2,1,500,871.46,0,477938,1,...,2,74140,13480,6740,53920,Ford,Escape,2007,0,NaN
971,79,25,732169,2,2,500,1863.04,0,462698,0,...,0,67800,13560,6780,47460,Mercedes,C300,1995,0,NaN
972,232,44,221854,2,1,2000,1181.64,0,454552,1,...,2,55400,5540,11080,38780,Jeep,Grand Cherokee,2002,1,NaN
973,230,37,776950,0,2,1000,1060.74,0,471585,1,...,0,49100,9820,4910,34370,Suburu,Impreza,1996,1,NaN
974,234,41,291006,1,0,500,951.56,0,455426,0,...,0,98280,15120,7560,75600,Chevrolet,Tahoe,2007,1,NaN
975,240,40,845751,1,0,500,1533.71,9000000,469856,0,...,0,66550,6050,12100,48400,Ford,Escape,2008,0,NaN
976,143,33,889764,2,2,1000,1200.09,0,454191,0,...,0,70400,14080,7040,49280,Accura,RSX,2002,0,NaN
977,266,42,929306,1,0,500,1093.83,4000000,468454,1,...,1,53280,4440,8880,39960,Suburu,Impreza,2015,1,NaN
978,89,32,515457,1,1,1000,988.93,0,614187,0,...,2,84590,15380,15380,53830,Dodge,Neon,1999,0,NaN
979,229,37,556270,1,2,1000,1331.94,0,433974,0,...,2,54560,9920,9920,34720,Saab,95,2004,0,NaN
980,245,40,908935,0,2,1000,1361.45,0,604833,1,...,2,82170,7470,7470,67230,Suburu,Forrestor,1999,0,NaN
981,50,44,525862,2,1,2000,1188.51,0,447469,1,...,1,61100,6110,12220,42770,Dodge,Neon,2008,0,NaN
982,230,43,490514,1,2,2000,1101.83,0,451529,1,...,2,51900,5190,10380,36330,BMW,M5,2011,1,NaN
983,17,39,774895,0,1,1000,840.95,0,431202,0,...,0,3440,430,430,2580,Suburu,Legacy,2002,0,NaN
984,163,36,974522,1,1,1000,1503.21,0,448190,1,...,1,51390,5710,11420,34260,Toyota,Corolla,2013,0,NaN
985,29,32,669809,2,0,1000,1722.50,0,453713,1,...,0,76900,7690,7690,61520,Jeep,Wrangler,1995,0,NaN
986,232,42,182953,1,0,500,944.03,0,440153,1,...,0,77000,15400,7700,53900,Toyota,Highlander,2015,1,NaN
987,235,39,836349,0,2,2000,1453.61,4000000,619570,1,...,0,60320,9280,9280,41760,Chevrolet,Tahoe,2012,1,NaN
988,295,46,591269,1,0,500,1672.88,0,478947,0,...,1,60700,12140,6070,42490,Honda,Civic,1997,0,NaN
989,22,21,550127,1,1,1000,1248.05,0,443550,0,...,0,53280,5920,0,47360,Chevrolet,Malibu,2015,0,NaN
990,286,43,663190,0,0,500,1564.43,3000000,477644,0,...,2,34290,3810,3810,26670,Jeep,Grand Cherokee,2013,0,NaN
991,257,44,109392,2,0,1000,1280.88,0,433981,1,...,1,46980,0,5220,41760,Accura,TL,2002,0,NaN
992,94,26,215278,1,0,500,722.66,0,433696,1,...,2,36700,3670,7340,25690,Nissan,Pathfinder,2010,0,NaN
993,124,28,674570,2,1,1000,1235.14,0,443567,1,...,0,60200,6020,6020,48160,Volkswagen,Passat,2012,0,NaN
994,141,30,681486,1,2,1000,1347.04,0,430665,1,...,2,6480,540,1080,4860,Honda,Civic,1996,0,NaN
995,3,38,941851,2,2,1000,1310.80,0,431289,0,...,0,87200,17440,8720,61040,Honda,Accord,2006,0,NaN
996,285,41,186934,0,0,1000,1436.79,0,608177,0,...,0,108480,18080,18080,72320,Volkswagen,Passat,2015,0,NaN
997,130,34,918516,2,1,500,1383.49,3000000,442797,0,...,2,67500,7500,7500,52500,Suburu,Impreza,1996,0,NaN
998,458,62,533940,0,2,2000,1356.92,5000000,441714,1,...,2,46980,5220,5220,36540,Audi,A5,1998,0,NaN
999,456,60,556080,2,1,1000,766.19,0,612260,0,...,0,5060,460,920,3680,Mercedes,E400,2007,0,NaN

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
months_as_customer             1000 non-null int64
age                            1000 non-null int64
policy_number                  1000 non-null int64
policy_bind_date               1000 non-null object
policy_state                   1000 non-null int32
policy_csl                     1000 non-null int32
policy_deductable              1000 non-null int64
policy_annual_premium          1000 non-null float64
umbrella_limit                 1000 non-null int64
insured_zip                    1000 non-null int64
insured_sex                    1000 non-null int32
insured_education_level        1000 non-null int32
insured_occupation             1000 non-null int32
insured_hobbies                1000 non-null int32
insured_relationship           1000 non-null int32
capital-gains                  1000 non-null int64
capital-loss                   1000 non-null int64
incident_date                  1000 non-null object
incident_type                  1000 non-null int32
collision_type                 1000 non-null int32
incident_severity              1000 non-null int32
authorities_contacted          1000 non-null object
incident_state                 1000 non-null int32
incident_city                  1000 non-null int32
incident_location              1000 non-null int32
incident_hour_of_the_day       1000 non-null int64
number_of_vehicles_involved    1000 non-null int64
property_damage                1000 non-null int32
bodily_injuries                1000 non-null int64
witnesses                      1000 non-null int64
police_report_available        1000 non-null int32
total_claim_amount             1000 non-null int64
injury_claim                   1000 non-null int64
property_claim                 1000 non-null int64
vehicle_claim                  1000 non-null int64
auto_make                      1000 non-null object
auto_model                     1000 non-null object
auto_year                      1000 non-null int64
fraud_reported                 1000 non-null int32
_c39                           0 non-null float64
dtypes: float64(2), int32(16), int64(17), object(5)
memory usage: 230.5+ KB

In [22]:
df=df.drop(['policy_bind_date'],axis=1)

In [23]:
df.head()

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2,1,1000,1406.91,0,466132,1,...,2,71610,6510,13020,52080,Saab,92x,2004,1,NaN
1,228,42,342868,1,1,2000,1197.22,5000000,468176,1,...,0,5070,780,780,3510,Mercedes,E400,2007,1,NaN
2,134,29,687698,2,0,2000,1413.14,5000000,430632,0,...,1,34650,7700,3850,23100,Dodge,RAM,2007,0,NaN
3,256,41,227811,0,1,2000,1415.74,6000000,608117,0,...,1,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1,NaN
4,228,44,367455,0,2,1000,1583.91,6000000,610706,1,...,1,6500,1300,650,4550,Accura,RSX,2009,0,NaN

In [ ]:
x = df.iloc[:,1:15]
x

In [25]:
y=df.iloc[:,-2]

In [26]:
y

0      1
1      1
2      0
3      1
4      0
5      1
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     1
15     1
16     0
17     0
18     0
19     0
20     0
21     0
22     1
23     1
24     0
25     1
26     0
27     1
28     0
29     0
      ..
970    0
971    0
972    1
973    1
974    1
975    0
976    0
977    1
978    0
979    0
980    0
981    0
982    1
983    0
984    0
985    0
986    1
987    1
988    0
989    0
990    0
991    0
992    0
993    0
994    0
995    0
996    0
997    0
998    0
999    0
Name: fraud_reported, Length: 1000, dtype: int32

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.33,random_state=80)

In [28]:
from sklearn.linear_model import LogisticRegression
f=LogisticRegression()
f.fit(x_train,y_train)
f.score(x_test,y_test)

0.7454545454545455

In [29]:
from sklearn.linear_model import SGDClassifier
m=SGDClassifier()
m.fit(x_train,y_train)
m.score(x_test,y_test)

0.7424242424242424

In [30]:
from sklearn.tree import DecisionTreeClassifier
l=DecisionTreeClassifier()
l.fit(x_train,y_train)
l.score(x_test,y_test)

0.6757575757575758

In [31]:
from sklearn.ensemble import RandomForestClassifier
s=RandomForestClassifier()
s.fit(x_train,y_train)
s.score(x_test,y_test)

0.7363636363636363